@import './fonts.css';
@import 'tailwindcss';


:root {
  --font-lato: "Lato", sans-serif;
  --font-cinzel: "Cinzel", serif;
}

.font-lato {
  font-family: var(--font-lato);
}

.font-cinzel {
    font-family: var(--font-cinzel);
}


